/*menu*/
*{
  margin: 0px;
}

a {
  font-weight: bold;
  text-align: center;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9f2533; /*color del menu*/
  padding: 13px 30px;
  font-family: Corsiva;
  margin: 0px;
}

.logo-img {
  max-height: 55px ;
}


.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  color:#000000;
  text-decoration: none;
  margin: 0 9px;
  font-size: 1.4em;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #f9f8f3;  
}


/*contactanos*/
.field{
  text-align: center;
  margin: 20px;
}

input{
  border-radius: 100px;
}


/*informacion*/
.texto{
  border: solid 3px;
  border-color: black;
  border-radius: 10px;
  color: black;
  margin: 0px;
  text-decoration: nones;
  font-family: cursive;
  text-align: justify;
 background-color: #9e182b;
 display: flex;
}

.texto img{
  max-height: 35px ;
   padding: 10px;

}

h3{
 padding: 20px;
}

.text a{
  padding: 5px;
  text-decoration: none;
  display: flex;
}
