/*menu*/
body{
  margin: 0px;
}

a {
  font-weight: bold;
  text-align: center;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6d0510; /*color del menu*/
  padding: 13px 30px;
  font-family: Corsiva;
  margin: 0px;
}

.logo-img {
  max-height: 55px ;
}


.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  color:white;
  text-decoration: none;
  margin: 0 9px;
  font-size: 1.4em;
  transition: color 0.3s;
}

.nav-item:hover {
  color: black;  
}

/*parrafo*/
.x {
  text-align: justify;
  margin: 25px;
  font-size: 20px;
  padding: 10px;
  font-family: Corsiva;
}
.xx  {
  float: right;
  width: 350px;
  border-radius: 35px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 20px; 
    margin: 20px;
    padding: 20px;
}

.xxx {
  text-align: center;
  margin: 25px;
    font-size: 20px;
  font-family: Corsiva;
}
.xa {
  text-align: center;
  margin: 25px;
  font-family: Corsiva;
}
